In [ ]:
from google.colab import files
upload = files.upload()

Saving 50_Startups.csv to 50_Startups.csv

# **Importing Libraries**

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

# **Read the data**

In [ ]:
# Reading the data
data = pd.read_csv('50_Startups.csv')
data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [ ]:
data.shape

(50, 5)

# **Splitting feature and target**

In [ ]:
x = data.iloc[:, :1]
y = data.iloc[:, -1:]
x_train, x_test, y_train, y_test = train_test_split(x,y,train_size=0.7, random_state=0)

In [ ]:
# Fitting the model
lin_reg = LinearRegression()
lin_reg.fit(x_train, y_train)
# Predicting the model
y_pred = lin_reg.predict(x_test)

In [ ]:
# errors
print("Error: ", r2_score(y_test, y_pred))

Error:  0.9360398184741837

In [ ]:
data.head(2)

   R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.2       136897.80        471784.10    New York  192261.83
1   162597.7       151377.59        443898.53  California  191792.06

In [ ]:
lin_reg.predict(np.array([[165349.2]]))

array([[189566.2835726]])